In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [2]:
stock = pd.read_csv('all_stocks.csv')

In [7]:
stock.rename({'Adj Close': 'AdjClose'},axis=1,inplace=True)
stock

,Date,Open,High,Low,Close,AdjClose,Volume,StockSymbol
0,1999-11-18,32.546494,35.765381,28.612303,31.473534,27.068665,62546300.0,A
1,1999-11-19,30.713520,30.758226,28.478184,28.880543,24.838577,15234100.0,A
2,1999-11-22,29.551144,31.473534,28.657009,31.473534,27.068665,6577800.0,A
3,1999-11-23,30.400572,31.205294,28.612303,28.612303,24.607880,5975600.0,A
4,1999-11-24,28.701717,29.998211,28.612303,29.372318,25.261524,4843200.0,A
...,...,...,...,...,...,...,...,...
28148363,2020-03-26,33.549999,34.580002,32.790001,34.200001,34.200001,48300.0,ZSL
28148364,2020-03-27,34.419998,35.389999,34.330002,34.630001,34.630001,47400.0,ZSL
28148365,2020-03-30,36.599998,37.340000,35.410000,36.110001,36.110001,55200.0,ZSL
28148366,2020-03-31,36.259998,37.000000,34.869999,36.660000,36.660000,30400.0,ZSL
28148367,2020-04-01,37.139999,37.900002,36.349998,37.130001,37.130001,20500.0,ZSL

In [8]:
stock[stock['StockSymbol'] == 'A'].to_csv('stock_test.csv')

In [10]:
pd.read_csv('stock_test.csv')

,Unnamed: 0,Date,Open,High,Low,Close,AdjClose,Volume,StockSymbol
0,0,1999-11-18,32.546494,35.765381,28.612303,31.473534,27.068665,62546300.0,A
1,1,1999-11-19,30.713520,30.758226,28.478184,28.880543,24.838577,15234100.0,A
2,2,1999-11-22,29.551144,31.473534,28.657009,31.473534,27.068665,6577800.0,A
3,3,1999-11-23,30.400572,31.205294,28.612303,28.612303,24.607880,5975600.0,A
4,4,1999-11-24,28.701717,29.998211,28.612303,29.372318,25.261524,4843200.0,A
...,...,...,...,...,...,...,...,...,...
5119,5119,2020-03-26,70.000000,74.449997,69.650002,73.720001,73.532867,3267500.0,A
5120,5120,2020-03-27,71.550003,73.209999,70.279999,70.910004,70.730003,1829800.0,A
5121,5121,2020-03-30,71.059998,73.180000,71.059998,72.669998,72.669998,1486200.0,A
5122,5122,2020-03-31,72.339996,72.800003,70.500000,71.620003,71.620003,1822100.0,A
5123,5123,2020-04-01,69.470001,70.230003,68.150002,68.919998,68.919998,2173600.0,A

In [12]:
stock.to_csv('stock.csv')